nav {
  height: 60px;
  background-image: url("../../assets/images/navbar.png");
  background-size: cover;
}

.profile-menu {
  height: 0;
  overflow: hidden;
}

.open-profile-menu {
  height: 300px;
  transition: 0.5s all;
}
