<app-navbar></app-navbar>
<div class="container flex gap-10 pt-10">
  <!-- Sidebar -->
  <aside
    class="bg-secondary text-nowrap pt-10 rounded-lg overflow-hidden shadow-lg w-80 flex flex-col justify-between"
  >
    <div class="container flex flex-col gap-5 mb-10">
      @for (item of sidebarItems; track item.id) {
      <div
        [ngClass]="activeItem === item.id ? 'text-teal-500' : ''"
        class="flex justify-between cursor-pointer hover:text-teal-500"
        (click)="updateActiveItem(item.id)"
      >
        <div class="flex gap-3">
          <fa-icon [icon]="item.icon" style="color: #14b8a6"></fa-icon>
          <p>{{ item.title }}</p>
        </div>
        <div
          class="accordion-arrow"
          [ngClass]="
            activeItem === item.id
              ? 'opened-accordion-arrow'
              : 'closed-accordion-arrow'
          "
        >
          <fa-icon [icon]="icons.arrow"></fa-icon>
        </div>
      </div>
      <div
        class="overflow-hidden accordion-menu"
        [ngClass]="
          activeItem === item.id ? 'accordion-menu' : 'accordion-menu-closed'
        "
      >
        <div class="min-h-0 flex flex-col gap-3 text-slate-500 text-sm ps-5">
          @for (cat of item.categories; track cat.id) {
          <a
            [routerLink]="cat.path"
            routerLinkActive="active"
            class="hover:text-teal-500"
            ><p>{{ cat.title }}</p>
          </a>
          }
        </div>
      </div>
      }
    </div>
  </aside>
  <main
    class="bg-secondary py-10 rounded-lg overflow-hidden container shadow-lg w-full"
  >
    <router-outlet></router-outlet>
  </main>
</div>
<app-footer></app-footer>
