@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Almarai", sans-serif;
  font-weight: 400;
  font-style: normal;
}
body {
  background-color: #010e28 !important;
  color: white;
}
button {
  background-color: #2dd4bf !important;
  color: white;
  border-radius: 7px !important;
  padding: 10px 30px !important;
}

button:hover {
  outline: 3px solid #ccfbf1 !important;
}

table {
  width: 100%;
}
thead {
  background-color: #14b8a6;
  color: white;
  height: 50px;
  text-align: center;
}
tr {
  height: 50px;
  text-align: center;
  border-bottom: 1px solid #cbd5e1;
}
tr:hover {
  background-color: #010e28 !important;
}
td,
th {
  padding-right: 30px !important;
  padding-left: 30px !important;
  text-align: center !important;
}

input {
  background-color: white;
  color: black;
}
